.header-bg {
  background-color: var(--cor-p1);
  display: flex;
  gap: 100px;
  justify-content: center;
}

.header-pesquisa {
  display: flex;
  gap: 60px;
  background-color: var(--cor-0);
  border-radius: 4px;
  padding: 8px 20px 8px 20px;
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
}

.header-menu {
  display: flex;
  gap: 32px;
  padding-top: 40px;
}

@media (max-width: 600px) {
  .header-bg {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
  }
  .header-bg .header-marca {
    margin-bottom: -150px;
  }
  .header-bg .header-menu {
    margin-top: -130px;
  }
}
